#WebAnnoContainer {
    cursor: pointer;   
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 8px 10px;
}

.material-icons {
    font-size: 26px;
}

.class {
    color: rgba(0, 0, 0, 0.54);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 94px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 0;
    font-size: 8pt;

    /* Position the tooltip */
    position: relative;
    display: inline-block;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -26px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Override Mirador */
.MuiPaper-root.MuiPaper-elevation0.MuiDrawer-paper.jss366.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft {
    overflow: hidden;
}